html {
    /* px 表示“像素（pixels）”: 基础字号为 10 像素 */
    /* Google fonts 输出的 CSS */
    font-family: Helvetica,"PingFang SC";
  }
body {
    margin: 0 auto;
    background-color: #FFEFD5;
  }
  p {
    font-size: 18px;
    /* line-height 后而可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    line-height: 2;
    letter-spacing: 1px;
  }
  li {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 1px;
  }
  a {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  mark{
    background-color: aquamarine;
  }